<footer class="">
  <div class="container border-top padding20 nlp nrp">
    <span class="tertiary-text">2012-2013, Metro UI CSS © by &nbsp;</span><a class="tertiary-text" href="mailto:sergey@pimenov.com.ua">Sergey Pimenov</a>
  </div>
</footer>
