<div class="page">
        <div class="page-region">
            <div class="page-region-content">

                <h1>
                    <a href="#" class="history-back"><i class="icon-arrow-left-3 fg-darker smaller"></i></a>
                    Requirements
                </h1>

                <h3 id="_doctype">Doctype</h3>
                <p class="description">
                    Metro UI CSS makes use of certain HTML elements and CSS properties that require the use of the HTML5 doctype.
                    Include it at the beginning of all your projects.
                </p>
<pre class="prettyprint linenums prettyprinted" style=""><ol class="linenums"><li class="L0"><span class="dec">&lt;!DOCTYPE html&gt;</span></li><li class="L1"><span class="tag">&lt;html</span><span class="pln"> </span><span class="atn">lang</span><span class="pun">=</span><span class="atv">"en"</span><span class="tag">&gt;</span></li><li class="L2"><span class="pln">...</span></li><li class="L3"><span class="tag">&lt;/html&gt;</span></li></ol></pre>

                <h3 id="_javascript">Javascript</h3>
                <p class="description">
                    All javascript plugins required <a href="http://jquery.com/">jQuery 2.0</a> or above and <a href="http://jqueryui.com/">jQuery UI widget factory</a> 1.9 or above.
                </p>

                <h3 id="_namespace">Namespace</h3>
                <p class="description">
                    Metro UI CSS used self namespace <code>.metro</code>. You must add class <code>.metro</code> to main container.
                </p>
<pre class="prettyprint linenums prettyprinted" style=""><ol class="linenums"><li class="L0"><span class="tag">&lt;body</span><span class="pln"> </span><span class="atn">class</span><span class="pun">=</span><span class="atv">"metro"</span><span class="tag">&gt;</span><span class="pln">...</span><span class="tag">&lt;/body&gt;</span></li></ol></pre>

            </div>
        </div>

        <div class="page-footer">
            <div class="page-footer-content">
                <!--<div data-load="header.html"></div>-->
            </div>
        </div>
    </div>
