<div class="page">
  <div class="page-region">
    <div class="page-region-content">
      <h1>
        <a href="/"><i class="icon-arrow-left-3 fg-darker smaller"></i></a>
        Stepper<small class="on-right">component</small>
      </h1>

      <div class="example">
        <ul class="stepper" data-role="stepper">
          <li class="complete" data-action="Step 1" data-description="Create document with HTML5 DOCTYPE"></li>
          <li class="" data-action="Step 2" data-description="Include <strong>metro-bootstrap.css</strong> in document head"></li>
          <li class="" data-action="Step 3" data-description="Include <strong>jquery.js, jquery.widget.js and metro-*.js</strong> in document head"></li>
          <li class="" data-action="Step 4" data-description="Create container with class <strong>metro</strong> for Metro UI CSS components"></li>
          <li class="" data-action="Step 5" data-description="Use markup for components, as described in the pages of this site"></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="page-footer">
    <div class="page-footer-content">
    </div>
  </div>
</div>
