@mixin spanX($index){
  width: $gridColumnSize * $index + $gridGutterSize * ($index - 1) !important;
}
@mixin offsetX($index){
  margin-left: $gridColumnSize * $index + ($gridGutterSize * ($index));
  &:not(:first-child){
    margin-left: $gridColumnSize * $index + ($gridGutterSize * ($index + 1));
  }
}

@mixin fluid-spanX($index){
  width: $gridColumnSizeFluid * $index + ($gridGutterSizeFluid * ($index - 1)) !important;
}
@mixin fluid-offsetX($index){
  margin-left: $gridColumnSizeFluid * $index + ($gridGutterSizeFluid * ($index));
  &:not(:first-child){
    margin-left: $gridColumnSizeFluid * $index + ($gridGutterSizeFluid * ($index + 1));
  }
}

.span1 {@include spanX(1);}
.span2 {@include spanX(2);}
.span3 {@include spanX(3);}
.span4 {@include spanX(4);}
.span5 {@include spanX(5);}
.span6 {@include spanX(6);}
.span7 {@include spanX(7);}
.span8 {@include spanX(8);}
.span9 {@include spanX(9);}
.span10 {@include spanX(10);}
.span11 {@include spanX(11);}
.span12 {@include spanX(12);}

.offset1 {@include offsetX(1);}
.offset2 {@include offsetX(2);}
.offset3 {@include offsetX(3);}
.offset4 {@include offsetX(4);}
.offset5 {@include offsetX(5);}
.offset6 {@include offsetX(6);}
.offset7 {@include offsetX(7);}
.offset8 {@include offsetX(8);}
.offset9 {@include offsetX(9);}
.offset10 {@include offsetX(10);}
.offset11 {@include offsetX(11);}
.offset12 {@include offsetX(12);}

.grid {
  margin-bottom: $gridGutterSize;

  .row {
    @extend .clearfix;
    display: block;
    margin-top: $gridGutterSize;

    [class*="span"] {
      float: left;
      min-height: 1px;
      margin-left: $gridGutterSize;

      &:first-child {
        margin-left: 0;
      }
    }
  }
}

.grid {
  &.fluid {
    width: 100%;
    .row {
      .span1 {@include fluid-spanX(1);}
      .span2 {@include fluid-spanX(2);}
      .span3 {@include fluid-spanX(3);}
      .span4 {@include fluid-spanX(4);}
      .span5 {@include fluid-spanX(5);}
      .span6 {@include fluid-spanX(6);}
      .span7 {@include fluid-spanX(7);}
      .span8 {@include fluid-spanX(8);}
      .span9 {@include fluid-spanX(9);}
      .span10 {@include fluid-spanX(10);}
      .span11 {@include fluid-spanX(11);}
      .span12 {@include fluid-spanX(12);}

      [class*="span"] {
        margin-left: 2.127659%;
        &:first-child {
          margin-left: 0;
        }
      }

      .offset1 {@include fluid-offsetX(1);}
      .offset2 {@include fluid-offsetX(2);}
      .offset3 {@include fluid-offsetX(3);}
      .offset4 {@include fluid-offsetX(4);}
      .offset5 {@include fluid-offsetX(5);}
      .offset6 {@include fluid-offsetX(6);}
      .offset7 {@include fluid-offsetX(7);}
      .offset8 {@include fluid-offsetX(8);}
      .offset9 {@include fluid-offsetX(9);}
      .offset10 {@include fluid-offsetX(10);}
      .offset11 {@include fluid-offsetX(11);}
      .offset12 {@include fluid-offsetX(12);}
    }
  }
}

.grid {
  &.compact {

  }
}
