table {
  max-width: 100%;
  background-color: $white;
  border-collapse: collapse;
  border-spacing: 0;
}

.table {
  width: 100%;
  margin-bottom: $baseLineHeight;

  th, td {
    padding: $tableCellPadding;
    font-size: 14px;
    line-height: $baseLineHeight;
    vertical-align: top;
    border-bottom: 1px $tableBorderColor solid;

    &[class*="span"] {
      display: table-cell !important;
      float: none !important;
      margin: 0;
    }
  }

  th {
  }

  thead {
    tr:last-child {
    }

    th {
      vertical-align: bottom;
    }
  }

  tbody {
    tr {
      &:last-child {
        td {
          border-bottom: 0;
        }
      }
    }
  }

  tbody + tbody {
    border-top: 2px solid $tableBorderColor;
  }

  tfoot {

  }

  .table {
    background-color: darken($white, 25%);
  }

  &.condensed {
    th, td {
      padding: 4px 5px;
    }
  }

  &.striped {
    tbody tr:nth-child(odd) {
      background: $tableOddColor;
    }
  }

  &.bordered {
    border: 1px $tableBorderColor solid;
    border-left: 0;
    td, th {
      border-left: 1px $tableBorderColor solid;
      border-bottom: 1px $tableBorderColor solid;
    }
  }

  &.no-border {
    td, th {
      border: 0;
    }
  }

  &.border {
    border: 1px $tableBorderColor solid !important;
    td, th {
    }
  }

  &.hovered {
    tbody {
      tr {
        &:hover {
          background-color: rgba(28, 183, 236, 0.10);
          td:first-child {
          }
          td:last-child {
          }
          td {
          }
        }
      }
    }
  }
}

.table {
  tr {
    &.success {
      @extend .bg-green;
    }
    &.error {
      @extend .bg-red;
    }
    &.warning {
      @extend .bg-orange;
    }
    &.info {
      @extend .bg-lightBlue;
    }

    &.info, &.warning, &.error, &.success {
      td, td * {
        @extend .fg-white;
      }
    }

    &.selected {
      background-color: rgba(28, 183, 236, 0.10);
      td:first-child {
      }
      td:last-child {
      }
      td {
      }
    }
  }
}
